<!-- HERO SECTION -->
<section
  class="bg-[url('/img/bg.jpg')] bg-center bg-no-repeat bg-cover bg-gray-700 bg-blend-multiply"
>
  <div class="px-4 mx-auto max-w-screen-xl text-center py-24 lg:py-56">
    <h1
      class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-white md:text-5xl lg:text-6xl"
    >
      <span
        style="display: inline-block"
        class="taos:translate-y-[200px] delay-[300ms] duration-[600ms] [animation-iteration-count:infinite] taos:opacity-0 taos-init"
        data-taos-offset="100"
        data-taos-class="taos:translate-y-[200px] delay-[300ms] duration-[600ms] [animation-iteration-count:infinite] taos:opacity-0 taos-init"
        >We invest</span
      >
      <span
        style="display: inline-block"
        class="taos:translate-y-[200px] delay-[300ms] duration-[600ms] [animation-iteration-count:infinite] taos:opacity-0 taos-init"
        data-taos-offset="100"
        data-taos-class="taos:translate-y-[200px] delay-[500ms] duration-[600ms] [animation-iteration-count:infinite] taos:opacity-0 taos-init"
        >in the world's&nbsp</span
      ><span
        style="display: inline-block"
        class="taos:translate-y-[200px] duration-[600ms] [animation-iteration-count:infinite] taos:opacity-0 taos-init"
        data-taos-offset="100"
        data-taos-class="taos:translate-y-[200px] delay-[700ms] duration-[600ms] [animation-iteration-count:infinite] taos:opacity-0 taos-init"
        >potential</span
      >
    </h1>
    <p
      class="mb-8 text-lg font-normal text-gray-300 lg:text-xl sm:px-16 lg:px-48"
    >
      <span
        style="display: inline-block"
        class="taos:translate-y-[200px] duration-[600ms] [animation-iteration-count:infinite] taos:opacity-0 taos-init"
        data-taos-offset="100"
        data-taos-class="taos:translate-y-[200px] delay-[900ms] duration-[600ms] [animation-iteration-count:infinite] taos:opacity-0 taos-init"
      >
        Here at Flowbite we focus on markets where technology, innovation, and
        capital can unlock long-term value and drive economic growth.
      </span>
    </p>
    <div
      class="flex flex-col space-y-4 sm:flex-row sm:justify-center sm:space-y-0 taos:translate-y-[200px] duration-[600ms] [animation-iteration-count:infinite] taos:opacity-0 taos-init"
      data-taos-offset="100"
      data-taos-class="taos:translate-y-[200px] delay-[1000ms] duration-[600ms] [animation-iteration-count:infinite] taos:opacity-0 taos-init"
    >
      <a
        href="#"
        class="inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-white rounded-lg bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 dark:focus:ring-blue-900"
      >
        Go to products
        <svg
          class="w-3.5 h-3.5 ms-2 rtl:rotate-180"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 14 10"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M1 5h12m0 0L9 1m4 4L9 9"
          />
        </svg>
      </a>
    </div>
  </div>
</section>